.root {
	-fx-background-color: #001428;
	-fx-font-family: "Pixellari", "Consolas", "Monospaced";
	-fx-text-fill: #e0e0ff;
}

.title-label {
	-fx-font-size: 32px;
	-fx-text-fill: #c0f0ff;
	-fx-padding: 20 0 10 0;
}
